#EDA preliminar

In [1]:
import pandas as pd

In [2]:
df_raw= pd.read_csv("../data/marketing_campaign.csv")
df=df_raw.copy()
df.head()

,Unnamed: 0,Campaign ID,Company,Campaign Type,Target Audience,Duration,Channel Used,Conversion Rate,Acquisition Cost,ROI,Location,Language,Clicks,Impressions,Engagement Score,Customer Segment,Date,Total($)
0,0,1,Innovate Industries,NaN,Men 18-24,30 days,Google Ads,00.0404,"$16,174.00","6,29",Chicago,Spanish,NaN,19221922.00,66.00,Health & Wellness,2021-01-01,"$16,174.00"
1,1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,00.1212,"$11,566.00","5,61",New York,German,"116,0","7523,0","7,0",Fashionistas,2021-01-02,"$11,566.00"
2,2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,00.0707,"$10,200.00","7,18",Los Angeles,French,NaN,"7698,0",11.00,Outdoor Adventurers,2021-01-03,"$10,200.00"
3,3,4,NaN,Display,All Ages,60 days,YouTube,00.1111,"$12,724.00",NaN,Miami,Mandarin,"217,0",NaN,"7,0",Health & Wellness,2021-01-04,"$12,724.00"
4,4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,00.0505,"$16,452.00",66.55,Los Angeles,NaN,379379.00,"4201,0",33.00,Health & Wellness,2021-01-05,"$16,452.00"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209915 entries, 0 to 209914
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        209915 non-null  int64
 1   Campaign ID       209915 non-null  int64
 2   Company           194734 non-null  object
 3   Campaign Type     191535 non-null  object
 4   Target Audience   181301 non-null  object
 5   Duration          191309 non-null  object
 6   Channel Used      187421 non-null  object
 7   Conversion Rate   200471 non-null  object
 8   Acquisition Cost  201832 non-null  object
 9   ROI               173439 non-null  object
 10  Location          184543 non-null  object
 11  Language          182907 non-null  object
 12  Clicks            178736 non-null  object
 13  Impressions       188467 non-null  object
 14  Engagement Score  186051 non-null  object
 15  Customer Segment  196763 non-null  object
 16  Date              203007 non-null  object
 17  Total($)          201832 non-null  object
dtypes: int64(2), object(16)
memory usage: 28.8+ MB

In [4]:
df.drop(columns="Unnamed: 0", inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209915 entries, 0 to 209914
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign ID       209915 non-null  int64
 1   Company           194734 non-null  object
 2   Campaign Type     191535 non-null  object
 3   Target Audience   181301 non-null  object
 4   Duration          191309 non-null  object
 5   Channel Used      187421 non-null  object
 6   Conversion Rate   200471 non-null  object
 7   Acquisition Cost  201832 non-null  object
 8   ROI               173439 non-null  object
 9   Location          184543 non-null  object
 10  Language          182907 non-null  object
 11  Clicks            178736 non-null  object
 12  Impressions       188467 non-null  object
 13  Engagement Score  186051 non-null  object
 14  Customer Segment  196763 non-null  object
 15  Date              203007 non-null  object
 16  Total($)          201832 non-null  object
dtypes: int64(1), object(16)
memory usage: 27.2+ MB

In [6]:
df.columns=df.columns.str.replace(" ","_").str.lower()

In [7]:
df.head()

,campaign_id,company,campaign_type,target_audience,duration,channel_used,conversion_rate,acquisition_cost,roi,location,language,clicks,impressions,engagement_score,customer_segment,date,total($)
0,1,Innovate Industries,NaN,Men 18-24,30 days,Google Ads,00.0404,"$16,174.00","6,29",Chicago,Spanish,NaN,19221922.00,66.00,Health & Wellness,2021-01-01,"$16,174.00"
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,00.1212,"$11,566.00","5,61",New York,German,"116,0","7523,0","7,0",Fashionistas,2021-01-02,"$11,566.00"
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,00.0707,"$10,200.00","7,18",Los Angeles,French,NaN,"7698,0",11.00,Outdoor Adventurers,2021-01-03,"$10,200.00"
3,4,NaN,Display,All Ages,60 days,YouTube,00.1111,"$12,724.00",NaN,Miami,Mandarin,"217,0",NaN,"7,0",Health & Wellness,2021-01-04,"$12,724.00"
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,00.0505,"$16,452.00",66.55,Los Angeles,NaN,379379.00,"4201,0",33.00,Health & Wellness,2021-01-05,"$16,452.00"

In [10]:
df.to_csv("../data/marketing_limpieza.csv", index=False)